/back/HRDCD.Order/HRDCD.Order.Api/obj
/back/HRDCD.Order/HRDCD.Order.Api/bin
/back/HRDCD.Order/HRDCD.Order.Database/obj
/back/HRDCD.Order/HRDCD.Order.Database/bin
/back/HRDCD.Order/HRDCD.Order.DataModel/obj
/back/HRDCD.Order/HRDCD.Order.DataModel/bin
/back/HRDCD.Order/HRDCD.Order.Tasks/obj
/back/HRDCD.Order/HRDCD.Order.Tasks/bin
/back/HRDCD.Order/.idea
/back/HRDCD.Order/HRDCD.Order.Faker/obj
/back/HRDCD.Order/HRDCD.Order.Faker/bin
/back/HRDCD.Common/HRDCD.Common.DataModel/obj
/back/HRDCD.Common/HRDCD.Common.DataModel/bin
/back/HRDCD.Common/HRDCD.Common.Tasks/obj
/back/HRDCD.Common/HRDCD.Common.Tasks/bin
/back/HRDCD.Delivery/HRDCD.Delivery.Api/obj
/back/HRDCD.Delivery/HRDCD.Delivery.Api/bin
/back/HRDCD.Delivery/HRDCD.Delivery.Database/obj
/back/HRDCD.Delivery/HRDCD.Delivery.Database/bin
/back/HRDCD.Delivery/HRDCD.Delivery.DataModel/obj
/back/HRDCD.Delivery/HRDCD.Delivery.DataModel/bin
/back/HRDCD.Delivery/HRDCD.Delivery.Tasks/obj
/back/HRDCD.Delivery/HRDCD.Delivery.Tasks/bin
/back/HRDCD.Delivery/.idea
/back/HRDCD.Common/.idea
/back/HRDCD.Delivery/HRDCD.Delivery.Consumer/obj
/back/HRDCD.Delivery/HRDCD.Delivery.Consumer/bin
/back/HRDCD.Order/HRDCD.Order.Sender/obj
/back/HRDCD.Order/HRDCD.Order.Sender/bin
