/back/HRDCD.Order/HRDCD.Order.Api/obj
/back/HRDCD.Order/HRDCD.Order.Api/bin
/back/HRDCD.Order/HRDCD.Order.Database/obj
/back/HRDCD.Order/HRDCD.Order.Database/bin
/back/HRDCD.Order/HRDCD.Order.DataModel/obj
/back/HRDCD.Order/HRDCD.Order.DataModel/bin
/back/HRDCD.Order/HRDCD.Order.Tasks/obj
/back/HRDCD.Order/HRDCD.Order.Tasks/bin
/back/HRDCD.Order/.idea
